@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

// colours
$my-black: #000500;
$my-red: #DA251D;
$my-orange: #FFBC0A;
$my-green: #62BBC1;
$my-white: #FFFBFF;
$my-grey: #E5E5E5;

// fonts
$font-title: 'Bangers', cursive;
$font-standard: 'Raleway', sans-serif;