@import '../assets/styles.module.scss';

main {
  width: 100vw;
  min-height: 100vh;
  background: $my-black;
  font-family: $font-title;
  color: $my-white;

  .navBreak {
    height: 7vh;
    width: 100%;
  }
}