@import "../../assets/styles.module.scss";

.confirmContainer {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    justify-content: center;
    aspect-ratio: 1/1;
    background: $my-white;
    padding: 20px;

    .loadingContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .circle {
        border-radius: 50%;
        height: 40px;
        aspect-ratio: 1/1;
        background: $my-green;
        margin: 0px 12.5px;
        animation-name: example;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: ease-in-out;
      }

      .circ2 {
        animation-delay: 0.25s;
      }

      .circ3 {
        animation-delay: 0.5s;
      }

      @keyframes example {
        20%   {margin-bottom: 0px;}
        47% {
          margin-bottom: 100px; 
          transform: scale(1.2);
        }
        52% {
          margin-bottom: 100px;
          transform: scale(1.2);
        }
        80% {margin-bottom: 0px;}
      }
      
    }
  }

  .orderComplete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-standard;
    color: $my-black;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: 5px solid $my-green;
    margin: auto;
    h1 {
      margin: 10px 0px;
    }

    p {
      margin: 10px 0px;
      font-style: italic;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .content {
    width: 85%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .content {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .content {
    width: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .content {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content {
    width: 35%;
  }
}