@import "../../assets/styles.module.scss";

.basketContainer {
  position: relative;
  display: grid;
  background: $my-white;
  width: 100vw;
  height: auto;
  padding: 10px 20px;
  color: $my-black;

  p {
    font-size: 1.2rem;
    margin: 5px 0px;
  }

  .listItemsContainer {

    li {
      list-style-type: none;
      margin: 10px 0px;
    }

    .billItem {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      align-items: center;
    }
  }

  .summaryContainer {
    justify-content: space-between;

    p {
      font-weight: 500;
    }

    .totalText {
      font-size: 2rem;
      border-bottom: 2px solid $my-orange;
    }
  }

  .gridSection {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 25%;
    width: 100%;
    height: 100%;
    font-family: $font-standard;
    
    h3 {
      font-size: 1.4rem;
      font-weight: 400;
      margin: 10px 0px;
    }
  }
  .finalSection {
    display: flex;
    justify-content: space-between;
  
    button {
      font-family: $font-title;
      font-size: 1.7rem;
      border: 3px solid $my-red;
      border-radius: 5px;
    }
  }

  .miniButton {
    position: absolute;
    left: 5%;
    bottom: 7%;
    background: none;
    border: none;
    color: $my-black;
    font-size: 2rem;
    font-weight: 400;
  }
}

.minimisedBasket {
  height: 10vh;
  opacity: 0.8;
  overflow: hidden;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .basketContainer {
    grid-template-rows: 1fr 1fr;

    .listItemsContainer {
      grid-row-start: 1;
      grid-row-end: 2;
      border-bottom: 2px solid $my-orange;
    }

    .summaryContainer {
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .finalSection {
      flex-direction: column;

      button {
        width: 50%;
        margin: 25px 0px;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .basketContainer {
    grid-template-rows: 1fr 1fr;

    .listItemsContainer {
      grid-row-start: 1;
      grid-row-end: 2;
      border-bottom: 2px solid $my-orange;
    }

    .summaryContainer {
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .finalSection {
      flex-direction: column;
      
      button {
        width: 50%;
        margin: 25px 0px;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .basketContainer {
    grid-template-columns: 1fr 1fr;

    .listItemsContainer {
      grid-column-start: 1;
      grid-column-end: 2;
      border-right: 2px solid $my-orange;
    }

    .finalSection {
      flex-direction: row;
      align-items: center;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .basketContainer {
    grid-template-columns: 1fr 1fr;

    .listItemsContainer {
      grid-column-start: 1;
      grid-column-end: 2;
      border-right: 2px solid $my-orange;
    }

    .summaryContainer {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .finalSection {
      flex-direction: row;
      align-items: center;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .basketContainer {
    grid-template-columns: 1fr 1fr;

    .listItemsContainer {
      grid-column-start: 1;
      grid-column-end: 2;
      border-right: 2px solid $my-orange;
    }

    .summaryContainer {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .finalSection {
      flex-direction: row;
      align-items: center;
    }
  }
}