@import "../../assets/styles.module.scss";

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 15px;
  

  .descriptionContainer {
    width: 100%;
    margin: 10px 0px;
  }

  h3 {
    font-size: 1.4rem;
    text-align: center;
    margin: 20px 0px;
  }

  p {
    text-align: center;
    font-family: $font-standard;
    margin: 10px 0px;
  }

  .price {
    margin: 10px 0px;
  }

  .amountText {
    text-align: center;
    width: 30%;
    background: rgba($my-orange, 0.05);
    border-radius: 5px;
    border: 2px solid $my-black;
    padding: 5px 8px;
    margin: 10px 0px;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  button {
    width: 30px;
    height: 30px;
    margin: 20px 5px;
    background: $my-white;
    border: 2px solid $my-red;
    box-shadow: 5px 5px 5px $my-black;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .descriptionContainer {
    height: 130px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .descriptionContainer {
    height: 130px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .descriptionContainer {
    height: 100px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .item {
    width: 20vw;

    .descriptionContainer {
      height: 130px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .item {
    width: 20vw;

    .descriptionContainer {
      height: 130px;
    }
  }
}