<section class='home'>
  <div class = "landing">
    <app-background></app-background>
    <img class = "mainLogo" src = "../../assets/banhg-mi-logo.svg" alt = "BanhG-mi logo">
  </div>
  <div class="tcontainer">
    <div class="ticker-wrap">
      <div class="ticker-move">
        <div class="ticker-item">Lets eat!</div>
        <div class="ticker-item">Lets eat!</div>
        <div class="ticker-item">Lets eat!</div>
        <div class="ticker-item">Lets eat!</div>
        <div class="ticker-item">Lets eat!</div>
        <div class="ticker-item">Lets eat!</div>
        <div class="ticker-item">Lets eat!</div>
        <div class="ticker-item">Lets eat!</div>
        <div class="ticker-item">Lets eat!</div>
      </div>
    </div>
  </div>
  <section class = "intro">
    <h3 class = "title topText">Build your own 
      <span class = "highlight">Bánh
        <span class = "red">G</span>
        -mì
      </span>
      or choose from our popular <a class= "red" routerLink = "/menu">Menu</a>
    </h3>
    <img class = "foodImg foodImg1 shadow-right" src = "../../assets/images/food-1.jpg" alt = 'Food Banh-mi Image 1'>
    <h3 class = "title middleText">Whatever your preference  we got you covered!</h3>
    <img class = "foodImg foodImg2 shadow-left" src = "../../assets/images/food-2.jpg" alt = 'Food Banh-mi Image 2'>
    <h3 class = 'title sideText'>DELICIOUS N' FRESH STREET FOOD</h3>
    <h3 class = "title bottomText">Choose from our meat, vegetarian or vegan options</h3>
  </section>
</section>

