@import "../../assets//styles.module.scss";

.home {
  min-height: 200vh;
  width: 100%;

  .landing {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
  }

  .mainLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    aspect-ratio: 1/1;
  }

  .intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    overflow: hidden;

    h3 {
      text-align: center;
    }

    .foodImg {
      height: auto;
    }

    .sideText {
      position: absolute;
      transform: rotate(-90deg);
    }

    .topText {
      
      .red {
        color: $my-red;
        font-size: 3.6rem;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mainLogo {
    width: 80%;
  }

  .intro {
    min-height: 200vh;

    h3 {
      text-align: center;
      font-size: 2rem !important;
    }

    .foodImg {
      width: 85%;
    }

    .sideText {
      font-size: 2.5rem !important;
      left: -65%;
      top: 50%;
    }

    .topText {
      
      .red {
        color: $my-red;
        font-size: 2.4rem !important;
      }
    }

    .middleText {
      margin-left: 80px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mainLogo {
    width: 70%;
  }

  .intro {
    min-height: 200vh;

    h3 {
      text-align: center;
      font-size: 2rem !important;
    }

    .foodImg {
      width: 85%;
    }

    .sideText {
      font-size: 2.5rem !important;
      left: -65%;
      top: 50%;
    }

    .topText {
      
      .red {
        color: $my-red;
        font-size: 2.4rem !important;
      }
    }

    .middleText {
      margin-left: 80px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mainLogo {
    width: 60%;
  }

  .intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 200vh;
    overflow: hidden;

    h3 {
      text-align: center;
    }

    .foodImg {
      width: 85%;
      height: auto;
    }

    .sideText {
      position: absolute;
      transform: rotate(-90deg);
      font-size: 2.5rem !important;
      left: -65%;
      top: 50%;
    }

    .topText {
      
      .red {
        color: $my-red;
        font-size: 2.4rem;
      }
    }

    .middleText {
      margin-left: 80px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mainLogo {
    width: 50%;
  }

  .intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 200vh;
    overflow: hidden;

    h3 {
      text-align: center;
      font-size: 3rem !important;
    }

    .foodImg {
      width: 85%;
      height: auto;
    }

    .foodImg1 {
     
    }

    .foodImg2 {
      
    }

    .sideText {
      position: absolute;
      transform: rotate(-90deg);
      font-size: 2rem !important;
      left: -65%;
      top: 50%;
    }

    .topText {
      
      .red {
        font-size: 4rem !important;
      }
    }

    .middleText {
      margin-left: 80px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mainLogo {
    width: 40%;
  }

  .intro {
    min-height: 250vh;

    .foodImg {
      width: 50%;
    }

    .foodImg1 {
     margin-right: 30%;
    }

    .foodImg2 {
      margin-left: 40%;
    }

    .topText {
      margin-left: 2%;
      
      .red {
        font-size: 4rem !important;
      }
    }

    .sideText {
      font-size: 5rem !important;
      left: -40%;
      top: 50%;
    }

    .middleText {
      margin-left: 80px;
    }

    .bottomText {
      margin-right: 10%;
    }
  }

}