@import "../../assets/styles.module.scss";

.nav {
  position: relative;
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 2px solid $my-white;

  h2 {
    color: $my-white;
    position: absolute;
    font-size: 28px;
    letter-spacing: 0.1em;
  }

  .red {
    color: $my-red;
    font-size: 32px;
  }

  .active {
    color: $my-red !important;
    border-bottom: 1px solid $my-red;
  }

  ul {
    text-decoration: none;
    margin: auto;
    
    li {
      font-family: $font-standard;
      display: inline;
      margin-left: 150px;
      padding-left: 5px;
      padding-right: 5px;      
      &:hover {
        border-left: 1px solid $my-white;
        border-right: 1px solid $my-white;
        cursor: pointer;
        transition: border 1s ease-in;
      }

      a {
        color: $my-white;
        text-decoration: none;
      }
    }
  }
}