<section class="aboutContainer">
  <!-- carousel -->
  <div class="carouselContainer">
    <carousel
    class="carousel-html-content"
    [cellsToShow]='1'
    [height]='400'
    [dots]="true"
    arrowsTheme='dark'
    >
      <div class="carousel-cell slide slide1">
        <div class="textBox slideContent">
          <p>Inspired by a trip to Vietnam, I instantly fell in love with the country and the food</p>
        </div>
      </div>
      <div class="carousel-cell slide slide2">
        <div class="textBox slideContent">
          <p>I’ve always loved steet food and the excitment it brings and wanted to bring the famous Vietnamese sandwhich back to the UK</p>
        </div>
      </div>
      <div class="carousel-cell slide slide3">
        <div class="textBox slideContent">
          <p>BanhG-Mi started as a small adventure out of the side of a food truck and has now expanded with a permanent residence in Bristol and will features in some festivals across the UK! - so check us out!!</p>
        </div>
      </div>
      <div class="carousel-cell slide slide4">
        <div class="textBox slideContent">
          <p>We at BanhG-mi are passionate about sustainability which is why we use 100% recycled packaging and locally sourced products</p>
        </div>
      </div>
    </carousel>
  </div>
</section>