@import '../../assets/styles.module.scss';

.eventsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;

  .backgroundImage {
    display: flex;
    align-items: center;
    width: 100%;
    background-image: url('../../assets/images/events.jpg');
    // background-position: center;
    background-position: 0% 65%; 
    background-repeat: no-repeat; 
    background-size: cover;
  }

  .textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px;

    h1 {
      letter-spacing: 0.1em;
    }
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .backgroundImage {
    height: 40vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .backgroundImage {
    height: 40vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .backgroundImage {
    height: 50vh;
  }
}

@media only screen and (min-width: 992px) {
  .backgroundImage {
    height: 60vh;
  }
}