@import '../../assets/styles.module.scss';

.eventsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;

  .backgroundImage {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-image: url('../../assets/images/events.jpg');
    // background-position: center;
    background-position: 0% 65%; 
    background-repeat: no-repeat; 
    background-size: cover;
  }

  .textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px;

    h1 {
      letter-spacing: 0.1em;
    }
  }
}